# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
web-build-temp/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem



# typescript
*.tsbuildinfo

# GCP specific
.gcloudignore
*.log
